models/*.pth
models/*.pt
data/raw/
data/charts/
data/external/
__pycache__/
.DS_Store
*.pyc
.env
.ipynb_checkpoints/
data/cnn_hybrid/
data/cnn_clean/
data/cnn_ready_v2/
data/_deprecated_cnn_ready/
*.pyc
.cache/
